# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
env/
venv/
.env

# Django
*.log
*.pot
*.pyc
*.sqlite3
media/
staticfiles/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
